In [1]:
#from google.colab import files
import pandas as pd
import numpy as np
import calendar
# import warnings

import matplotlib.pyplot as plt

### Perdidas en cosecha

In [62]:
# Cargamos el archivo Excel - RFF Procesado
# --------------

ruta_path = 'C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS'               # -> Casa
# ruta_path = 'C:/Users/usuario/Documents/DOCUMENTOS_CONSULTOR_5_BI'      # -> Trabajo

path_perdida_cosecha_transporte_puesto_pw = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_perdidas_cosecha/PERDIDA PALMAWASI PLANTACION ATC.xlsx'
path_perdida_cosecha_transporte_bin_pw = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_perdidas_cosecha/PERDIDA PALMAWASI PLANTACION ATC.xlsx'
path_perdida_cosecha_puesto_pw = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_perdidas_cosecha/PERDIDA PALMAWASI PLANTACION ATC.xlsx'

path_perdida_cosecha_transporte_puesto_sh = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_perdidas_cosecha/PERDIDA SHANUSI PLANTACION ATC.xlsx'
path_perdida_cosecha_transporte_bin_sh = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_perdidas_cosecha/PERDIDA SHANUSI PLANTACION ATC.xlsx'
path_perdida_cosecha_puesto_sh = '/PROYECTO_01_analitica_descriptiva_TEA/data/external/bbdd_perdidas_cosecha/PERDIDA SHANUSI PLANTACION ATC.xlsx'




# Cargar la hoja 2 (indexada desde 0, por lo tanto la hoja 2 es 'sheet_name=1')
df_perdida_cosecha_transporte_puesto_pw = pd.read_excel(ruta_path + path_perdida_cosecha_transporte_puesto_pw,sheet_name='TRANSPORTE PUESTO')
# Eliminar la columna 'columna_a_eliminar'
df_perdida_cosecha_transporte_puesto_pw = df_perdida_cosecha_transporte_puesto_pw.drop(columns=['% PERDIDA'])
df_perdida_cosecha_transporte_puesto_pw.columns = ['FECHA','SECTOR','COSECHA TM','PERDIDA TM']
# -
df_perdida_cosecha_transporte_bin_pw = pd.read_excel(ruta_path + path_perdida_cosecha_transporte_bin_pw,sheet_name='TRANSPORTE BIN')
df_perdida_cosecha_transporte_bin_pw.columns = ['FECHA','SECTOR','COSECHA TM','PERDIDA TM']
# -
df_perdida_cosecha_puesto_pw = pd.read_excel(ruta_path + path_perdida_cosecha_puesto_pw,sheet_name='COSECHA PUESTO')
df_perdida_cosecha_puesto_pw.columns = ['FECHA','SECTOR','COSECHA TM','PERDIDA TM']

df_perdida_cosecha_transporte_puesto_sh = pd.read_excel(ruta_path + path_perdida_cosecha_transporte_puesto_sh,sheet_name='TRANSPORTE PUESTO')
df_perdida_cosecha_transporte_puesto_sh.columns = ['FECHA','SECTOR','COSECHA TM','PERDIDA TM']
# -
df_perdida_cosecha_transporte_bin_sh = pd.read_excel(ruta_path + path_perdida_cosecha_transporte_bin_sh,sheet_name='TRANSPORTE BIN')
df_perdida_cosecha_transporte_bin_sh.columns = ['FECHA','SECTOR','COSECHA TM','PERDIDA TM']
# -
df_perdida_cosecha_puesto_sh = pd.read_excel(ruta_path + path_perdida_cosecha_puesto_sh,sheet_name='COSECHA PUESTO')
df_perdida_cosecha_puesto_sh.columns = ['FECHA','SECTOR','COSECHA TM','PERDIDA TM']

# AÃ±adiendo los tipos de perdidas
# ----------
df_perdida_cosecha_transporte_puesto_pw['TIPO_PERDIDA'] = 'Transporte puesto'
df_perdida_cosecha_transporte_bin_pw['TIPO_PERDIDA'] = 'Transporte bin'
df_perdida_cosecha_puesto_pw['TIPO_PERDIDA'] = 'Cosecha puesto'
# ----------
df_perdida_cosecha_transporte_puesto_sh['TIPO_PERDIDA'] = 'Transporte puesto'
df_perdida_cosecha_transporte_bin_sh['TIPO_PERDIDA'] = 'Transporte bin'
df_perdida_cosecha_puesto_sh['TIPO_PERDIDA'] = 'Cosecha puesto'

Transformando datos de Palmawasi y Nuevo Horizonte

In [63]:
# Concatenar los DataFrames
df_perdida_otros_pw_nh = pd.concat([df_perdida_cosecha_transporte_puesto_pw, 
                                    df_perdida_cosecha_transporte_bin_pw, 
                                    df_perdida_cosecha_puesto_pw], ignore_index=True)

df_perdida_otros_pw_nh['PLANTACION'] = np.where(df_perdida_otros_pw_nh['SECTOR'] == 'SE05', 'Nuevo Horizonte', 'Palmawasi')

df_perdida_otros_pw_nh.head()

       FECHA SECTOR  COSECHA TM  PERDIDA TM       TIPO_PERDIDA PLANTACION
0 2023-02-27   SE01      204.31      0.2401  Transporte puesto  Palmawasi
1 2023-02-27   SE02      181.53      0.0620  Transporte puesto  Palmawasi
2 2023-02-27   SE03      247.48      0.6900  Transporte puesto  Palmawasi
3 2023-09-01   SE01      186.34      0.0569  Transporte puesto  Palmawasi
4 2023-09-01   SE02      169.52      0.2427  Transporte puesto  Palmawasi

Transformando datos de Shanuzi

In [67]:
# Concatenar los DataFrames
df_perdida_otros_sh = pd.concat([df_perdida_cosecha_transporte_puesto_sh,
                                 df_perdida_cosecha_transporte_bin_sh, 
                                 df_perdida_cosecha_puesto_sh], ignore_index=True)

df_perdida_otros_sh['PLANTACION'] = 'Shanuzi'

df_perdida_otros_sh.head()

,FECHA,SECTOR,COSECHA TM,PERDIDA TM,TIPO_PERDIDA,PLANTACION
0,2024-01-02 17:00:00,I,142.10,0.929781,Transporte puesto,Shanuzi
1,2024-01-03 17:00:00,II,125.50,1.348681,Transporte puesto,Shanuzi
2,2024-01-03 17:00:00,I,214.10,0.634507,Transporte puesto,Shanuzi
3,2024-01-04 17:00:00,IV,85.76,0.513921,Transporte puesto,Shanuzi
4,2024-01-05 17:00:00,IV,71.32,0.211446,Transporte puesto,Shanuzi

Uniendo los dataframe

In [69]:
df_perdida_otros_sh.columns == df_perdida_otros_pw_nh.columns

array([ True,  True,  True,  True,  True,  True])

In [72]:
df_perdida_otros_full = pd.concat([df_perdida_otros_pw_nh,
                                   df_perdida_otros_sh],
                                   ignore_index= True)


df_perdida_otros_full.head()

       FECHA SECTOR  COSECHA TM  PERDIDA TM       TIPO_PERDIDA PLANTACION
0 2023-02-27   SE01      204.31      0.2401  Transporte puesto  Palmawasi
1 2023-02-27   SE02      181.53      0.0620  Transporte puesto  Palmawasi
2 2023-02-27   SE03      247.48      0.6900  Transporte puesto  Palmawasi
3 2023-09-01   SE01      186.34      0.0569  Transporte puesto  Palmawasi
4 2023-09-01   SE02      169.52      0.2427  Transporte puesto  Palmawasi

In [73]:
df_perdida_otros_full.dtypes

FECHA           datetime64[ns]
SECTOR                  object
COSECHA TM             float64
PERDIDA TM             float64
TIPO_PERDIDA            object
PLANTACION              object
dtype: object

In [74]:
df_perdida_otros_full_group = df_perdida_otros_full.groupby(['FECHA','PLANTACION','TIPO_PERDIDA']).agg({'COSECHA TM':'sum',
                                                                                                        'PERDIDA TM':'sum'}).reset_index()
df_perdida_otros_full_group.head()

       FECHA PLANTACION    TIPO_PERDIDA  COSECHA TM  PERDIDA TM
0 2021-01-02  Palmawasi  Cosecha puesto       663.0        4.39
1 2021-01-04  Palmawasi  Cosecha puesto       766.0        3.83
2 2021-01-05  Palmawasi  Cosecha puesto       132.0        0.17
3 2021-01-06  Palmawasi  Cosecha puesto      1795.0       20.76
4 2021-01-07  Palmawasi  Cosecha puesto       897.0       14.32

#### Guardamos los datos

In [75]:
# Guardamos la data en processed
# -----
# Especifica la ruta donde deseas guardar el CSV
ruta_perdida_otros_full_group =  '/PROYECTO_01_analitica_descriptiva_TEA/data/processed/df_perdida_otros_full_group.csv'  # Cambia esta ruta a la que necesites
# Guardar el DataFrame en formato CSV
df_perdida_otros_full_group.to_csv(ruta_path + ruta_perdida_otros_full_group, index=False)
print(f'Datos guardados en {ruta_path + ruta_perdida_otros_full_group}')

df_perdida_otros_full_group.head(10)

Datos guardados en C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS/PROYECTO_01_analitica_descriptiva_TEA/data/processed/df_perdida_otros_full_group.csv

       FECHA PLANTACION    TIPO_PERDIDA  COSECHA TM  PERDIDA TM
0 2021-01-02  Palmawasi  Cosecha puesto       663.0        4.39
1 2021-01-04  Palmawasi  Cosecha puesto       766.0        3.83
2 2021-01-05  Palmawasi  Cosecha puesto       132.0        0.17
3 2021-01-06  Palmawasi  Cosecha puesto      1795.0       20.76
4 2021-01-07  Palmawasi  Cosecha puesto       897.0       14.32
5 2021-01-08  Palmawasi  Cosecha puesto      2489.0       62.72
6 2021-01-09  Palmawasi  Cosecha puesto       714.0        3.14
7 2021-01-11  Palmawasi  Cosecha puesto      1798.0       42.74
8 2021-01-12  Palmawasi  Cosecha puesto      1882.0       50.11
9 2021-01-13  Palmawasi  Cosecha puesto      1654.0       13.08