In [1]:
#from google.colab import files
import pandas as pd
import numpy as np
import calendar
# import warnings

import matplotlib.pyplot as plt

In [8]:
# Cargamos el archivo Excel - RFF Procesado
# --------------

ruta_path = 'C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS'               # -> Casa
# ruta_path = 'C:/Users/usuario/Documents/DOCUMENTOS_CONSULTOR_5_BI'      # -> Trabajo

path_freq_cosecha_pw_nh = '/PROYECTO_001_analitica_descriptiva_TEA/data/external/bbdd_frecuencia_cosecha/FRECUENCIA DE COSECHA POR SECTORES.xlsx'
path_freq_cosecha_sh = '/PROYECTO_001_analitica_descriptiva_TEA/data/external/bbdd_frecuencia_cosecha/FRECUENCIA DE COSECHA POR SECTORES.xlsx'

# Cargar la hoja 2 (indexada desde 0, por lo tanto la hoja 2 es 'sheet_name=1')
df_freq_cosecha_pw_nh = pd.read_excel(ruta_path + path_freq_cosecha_pw_nh, sheet_name='PW_T')
df_freq_cosecha_sh = pd.read_excel(ruta_path + path_freq_cosecha_pw_nh, sheet_name='SH_T')

In [12]:
# Crear un diccionario de mapeo
mapping = {
    'SE01': 'Palmawasi',
    'SE02': 'Palmawasi',
    'sector3': 'Palmawasi',
    'SE04': 'Palmawasi',
    'SE4F': 'Palmawasi',
    'SE05': 'Nuevo Horizonte'
}
# Usar map y fillna
df_freq_cosecha_pw_nh['PLANTACION'] = df_freq_cosecha_pw_nh['SECTOR'].map(mapping).fillna('Desconocido')
# --
df_freq_cosecha_sh['PLANTACION'] = 'Shanuzi'

In [13]:
df_freq_cosecha_pw_nh.head()

       FECHA SECTOR  FRECUENCIA PLANTACION
0 2021-10-01   SE01       14.50  Palmawasi
1 2021-10-02   SE01       15.00  Palmawasi
2 2021-10-03   SE01         NaN  Palmawasi
3 2021-10-04   SE01       15.00  Palmawasi
4 2021-10-05   SE01       14.25  Palmawasi

In [14]:
df_freq_cosecha_sh.head()

       FECHA SECTOR  FRECUENCIA PLANTACION
0 2022-01-03   SE01        24.0    Shanuzi
1 2022-01-04   SE01        19.0    Shanuzi
2 2022-01-05   SE01        19.0    Shanuzi
3 2022-01-06   SE01        18.0    Shanuzi
4 2022-01-07   SE01        18.0    Shanuzi

#### Generando base total - Frecuencia cosecha

In [17]:
df_freq_cosecha_concat = pd.concat([df_freq_cosecha_pw_nh,
                                    df_freq_cosecha_sh],
                                    axis=0,
                                    ignore_index=True)

print(df_freq_cosecha_concat.dtypes)
df_freq_cosecha_concat.head()

FECHA         datetime64[ns]
SECTOR                object
FRECUENCIA           float64
PLANTACION            object
dtype: object

       FECHA SECTOR  FRECUENCIA PLANTACION
0 2021-10-01   SE01       14.50  Palmawasi
1 2021-10-02   SE01       15.00  Palmawasi
2 2021-10-03   SE01         NaN  Palmawasi
3 2021-10-04   SE01       15.00  Palmawasi
4 2021-10-05   SE01       14.25  Palmawasi

In [18]:
df_freq_cosecha_full = df_freq_cosecha_concat.groupby(['FECHA','PLANTACION']).agg({'FRECUENCIA':'mean'}).reset_index()
df_freq_cosecha_full.head()

       FECHA       PLANTACION  FRECUENCIA
0 2021-10-01  Nuevo Horizonte       11.00
1 2021-10-01        Palmawasi       14.45
2 2021-10-02  Nuevo Horizonte       11.00
3 2021-10-02        Palmawasi       15.10
4 2021-10-03  Nuevo Horizonte         NaN

In [19]:
# Especifica la ruta donde deseas guardar el CSV
ruta_freq_cosecha_full =  '/PROYECTO_001_analitica_descriptiva_TEA/data/processed/df_freq_cosecha_full.csv'  # Cambia esta ruta a la que necesites
# Guardar el DataFrame en formato CSV
df_freq_cosecha_full.to_csv(ruta_path + ruta_freq_cosecha_full, index=False)
print(f'Datos guardados en {ruta_path + ruta_freq_cosecha_full}')

df_freq_cosecha_full.head()

Datos guardados en C:/cesar_quezada/ProyectosIA/Proyectos_PALMAS/PROYECTO_001_analitica_descriptiva_TEA/data/processed/df_freq_cosecha_full.csv

       FECHA       PLANTACION  FRECUENCIA
0 2021-10-01  Nuevo Horizonte       11.00
1 2021-10-01        Palmawasi       14.45
2 2021-10-02  Nuevo Horizonte       11.00
3 2021-10-02        Palmawasi       15.10
4 2021-10-03  Nuevo Horizonte         NaN